@(title: String)(implicit request: RequestHeader)

@import helper._

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
  <form action="/doLogin" method="POST">
      @CSRF.formField
      <input name="username" type="text" placeholder="Username" /> <br/>
      <input name="password" type="password" placeholder="Password" /> <br/>
      <button type="submit">Login</button>
  </form>
</body>
</html>